:root {
  --foreground-color: white;
  --background-color: black;
  --light-blue-color: rgb(4, 162, 242);
}
body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
